@using ControleDeContatos.Enuns
@model UsuarioModel

<div class="text-center">


    <h3 class="display-4">Editar Usuario</h3>

</div>


<form asp-controller="Usuario" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label for="exampleInputPassword1">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="exampleInputPassword1" placeholder="Digite seu Nome...">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="exampleInputPassword1" placeholder="Digite seu Email...">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="exampleInputPassword1" placeholder="Digite seu Login...">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.admin">Admin</option>
            <option value="@PerfilEnum.padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>

        <br />

        <div class="container">
            <div class="btn-group">
                <button role="button" class="btn btn-outline-primary">Editar</button>
                <button role="button" asp-controller="Usuario" asp-action="" class="btn btn-outline-danger">Retornar</button>
            </div>
        </div>

        <style>
            .container {
                display: flex;
                justify-content: center;
                align-items:;
                height: 5vh;
                0
            }
        </style>
</form>
